body {
    font-family: 'Open Sans', sans-serif;
    padding: 0;
    margin: 0;
    background-color: #24252A;
    color: white;
}

.item-list, .link-nav {
    font-weight: 500;
    font-size: 25px;
    color: white;
    text-decoration: none;
    user-select: none;
}


.task {
    min-width: 30vw;
    border: none;
    border-radius: 10px;
    padding: 15px;
    color: black;
    font-size: 17pt;
    outline: none;
    margin-right: 5px;
    height: 50px;

}

.card-input {
    justify-content: center;
    padding: 30px 10%;
    display: flex;
}

.btn-input {
    border-radius: 8px;
    padding-top: -10px;
    width: 30%;
    min-width: 150px;
    max-width: 115px;
    height: 80px;
    border: none;
    outline: none;
    cursor: pointer;
    background: rgb(255, 63, 4);
    font-weight: bolder;
    letter-spacing: 1px;
    font-size: 100%;
    font-family: 'Open Sans', sans-serif;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;

}

.item-list {
    display: inline-block;
    padding: 0px 20px;
}

.logo {
    font-size: 30pt;
    color: white;
    cursor: pointer;
    user-select: none;
}

.link-nav {
    transition: 0.2s;
}

.link-nav:hover {
    color: rgb(255, 63, 4);
}

#listTask {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#listTask li {
    font-size: 25px;
    padding: 40px;
    margin: 20px;
    background: #1b1b1b;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    transition: 0.5s;
}

#listTask li:hover {
    background: rgba(255, 255, 255, 0.08);
}

.content {
    padding: 30px 10%;

}

/* LOGIN */
.area-login {
    display: flex;
    height: 85vh;
    justify-content: center;
    align-items: center;

}

.login {
    flex-direction: column;
    background-color: #1b1b1b;
    border-radius: 10px;
    width: 800px;
    height: 700px;
    padding: 60px;
    align-items: center;
}

.login form {
    display: flex;
    flex-direction: column;
}

.login input, .login button {
    font-size: 30px;

    margin-top: 40px;
    background-color: #24252A;
    padding-left: 10px;
    border: none;
    color: white;
    height: 85px;
    outline: none;
    border-radius: 8px;
}

.login button {
    cursor: pointer;
    display: block;
    background-color: rgb(255, 63, 4);
    font-size: 35px;
    font-weight: bold;
    text-transform: uppercase;
}

.register {
    flex-direction: column;
    background-color: #1b1b1b;
    border-radius: 10px;
    width: 800px;
    height: 700px;
    padding: 60px;
    align-items: center;
}

.register form {
    display: flex;
    flex-direction: column;
}

.register input, .register button {
    font-size: 30px;

    margin-top: 40px;
    background-color: #24252A;
    padding-left: 10px;
    border: none;
    color: white;
    height: 85px;
    outline: none;
    border-radius: 8px;
}


.register button {
    cursor: pointer;
    display: block;
    background-color: rgb(255, 63, 4);
    font-size: 35px;
    font-weight: bold;
    text-transform: uppercase;
}

p {
    color: white;
    font-size: 30px;

}


.new_account {
    color: rgb(255, 63, 4);
    font-size: 30px;

}

.title {
    text-align: center;
    font-size: 40px;
}

.remove {
    cursor: pointer;
}

/*
 *Add default styling for messages.
 */
.message {
    margin-top: 50px;
    border-radius: 5px;
    color: white;
    position: center;
    padding-bottom: 5px;
    padding-top: 10px;
    text-align: center;
    width: 100%;
    background-color: red;
}

/*
 * Give the various message types the correct colors
 */

.message.success {
    color: #006b1b;
    background-color: green;
}

.message.error {
    background-color: red ;
}

.message-flash-register {
    margin-top: 5px;
    overflow-y: auto;
}
.message-flash-login{
    margin-top: -5px;
    overflow-y: auto;
}