{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static '/style/style.css' %}" media='all'>
    <link rel="stylesheet" href="{% static '/style/other.css' %}">

    <title>TORDO</title>
</head>
<body>
<header>
    <h1 class="logo">TORDO</h1>

</header>
<main>
    <section class="area-login">
        <div class="login">
            <form action="{% url 'auth' %}" method="post">
                <h1 class="title">LOGIN</h1>

                {% csrf_token %}
                {{ form }}
                <button type="submit">Login</button>
                <p> Don't have an account yet? <a class="new_account" href="{% url 'newaccount' %}">Create Account</a>
                </p>

            </form>

            {% if messages %}
                <div class="messages">
                    {% for message in messages %}
                        <p class="message {{ message.tags }} message-flash-login">{{ message }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </section>

</main>

</body>
</html>