{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static '/style/style.css' %}" media='all'>
    <link rel="stylesheet" href="{% static '/style/other.css' %}">
    <title>TORDO</title>
</head>
<body>
<header>
    <h1 class="logo">TORDO</h1>
</header>
<main>
    <section class="area-login">
        <div class="register">
            <form action="{% url 'register' %}" method="post">
                <h1 class="title">Register</h1>

                {% csrf_token %}
                {{ form }}
                <button type="submit">Register</button>
                <p> Already have an account? <a class="new_account" href="{% url 'login' %}">Sign in</a></p>

            </form>
            {% if messages %}
                <div class="messages">
                    {% for message in messages %}
                        <p class="message {{ message.tags }} message-flash-register">{{ message }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        </div>

    </section>
</main>
</body>
</html>